<a href="https://colab.research.google.com/github/Bakhtawar-123/Car_Price_Prediction_with_ML/blob/main/pandas_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*   Pandas has been one of the **most commonly used** tools for Data  
Science and Machine learning
*    used for data cleaning and analysis
*   Pandas is the best tool for handling this real-world messy data
*  Handling data using pandas is very fast and effective by using pandas Series and data frame

*    It can handle **missing data**, **cleaning up** the data and it **supports multiple file formats**.

In [1]:
import pandas as pd

*   list
*   dictionary
*   shape()
*   describe()
*   info()
*   loc
*   iloc

# list -> loc and iloc
Lists are ordered collections of items.

---


The items in a list are indexed and can be accessed by their position.


---


Lists can contain duplicate elements.


---


Lists are mutable, meaning you can modify their
contents.


---


Lists are defined using square brackets [ ].

In [10]:
lis = pd.Series(list("abcdef"), index=[49, 48, 47, 0, 1, 2])

In [12]:
lis.loc[0]

'd'

In [21]:
print("List", "index")
lis.loc[49:2]

List index

49    a
48    b
47    c
0     d
1     e
2     f
dtype: object

In [15]:
lis.loc[48:1]

48    b
47    c
0     d
1     e
dtype: object

In [16]:
lis.loc[48:47]

48    b
47    c
dtype: object

In [22]:
#now want to interchange index as list and list as index

newlis = pd.Series(lis.index, index=lis.values)

In [23]:
newlis

a    49
b    48
c    47
d     0
e     1
f     2
dtype: int64

In [25]:
print("Index", "List")
print(newlis)

Index List
a    49
b    48
c    47
d     0
e     1
f     2
dtype: int64

In [26]:
lis.iloc[1]

'b'

In [27]:
lis.iloc[1:6]

48    b
47    c
0     d
1     e
2     f
dtype: object

In [28]:
newlis.iloc[1]

48

In [29]:
newlis.iloc[1:6]

b    48
c    47
d     0
e     1
f     2
dtype: int64

# dictionary
Dictionaries are unordered collections of key-value pairs.


---


The items in a dictionary are accessed by their keys rather than by position.


---


Each key in a dictionary must be unique, and it is associated with a value.


---


Dictionaries are mutable.


---


Dictionaries are defined using curly braces { }.

In [30]:
data ={"A":5, "B":10, "C":15}

In [31]:
data

{'A': 5, 'B': 10, 'C': 15}

In [33]:
"A"

'A'

In [34]:
data["A"]

5

In [37]:
data["B"], data["C"]

(10, 15)

In [42]:
import pandas as pd

In [44]:
df = pd.read_csv("data.csv")

In [45]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [53]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [49]:
df.shape

(200, 4)

In [50]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB